/* 
此页面针对elementUI样式进行定制，使用自定义类名不影响elementUI全局样式
*/
/* 渗透图谱-tooltip样式自定义 */
.tooltipBlue {
  padding: 0 !important;
}
.tooltipBlue.is-light {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff;
  top: 100px !important;
  border: 0 !important;
}


