.taskinfolist{
    background: #fff;
    min-height: calc(100% - 39px);
    box-sizing: border-box;
    box-shadow:0px 2px 4px 0px rgba(76,122,227,0.12);
}
.outContainer{
	position:relative;
    min-height:calc(100% - 40px);
    overflow:hidden;
    padding:0!important;
    margin:20px 15px;
}
.info_box_height150{
    height: 108px;
}
.info_block{
    margin-bottom: 24px; 
}
.info_box{
    position: relative;
    margin-bottom: 24px;
    border-radius: 4px;
    padding: 24px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight:500;
    overflow: hidden; 
    .circular1{
        width: 30px;
        height: 30px; 
        background: #3768D6;
        box-shadow: 0px -2px 2px 0px #3157AF;
        top: 54px;
        left: 120px;
    }
    .circular2{
        width: 14px;
        height: 14px;
        background: #3768D6;
        box-shadow: 0px -2px 2px 0px #3157AF;
        bottom: 0;
        left: 40%;
    }
    .circular3{
        width: 86px;
        height: 86px; 
        box-shadow: 0px 2px 2px 0px #2E5DC8;
        border: 20px solid #3768D6;
        top: -70px;
        left: 55%; 
    }
    .circular4{
        width: 200px;
        height:200px; 
        background: #3768D6;
        box-shadow: 0px -2px 2px 0px #3157AF;
        right: -100px;
        bottom: -100px;
    }
    .circular9{
        width: 64px;
        height: 64px;
        box-shadow: 0px 2px 2px 0px #424196;
        border: 14px solid #504FA8;
        left: -50px;
        top: -47px;
    }
    .circular10{
        width: 80px;
        height: 80px;
        box-shadow: 0px 2px 2px 0px #424196;
        border: 20px solid #504FA8;
        right: -42px;
        bottom: -72px;
    }
    .info_block{
        margin-bottom: 24px; 
    }
    .micon{
        color:rgba(255,255,255,0.7);
            vertical-align: bottom;
    }
    .lbname{
        display: inline-block;
        width: 54px;
        margin-right: 18px;
        margin-left: 8px;
        color:rgba(255,255,255,0.7);
        height: 16px;
        line-height: 16px;
    }
    .spvalue{
        width: calc(100% - 110px);
        display: inline-block; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color:rgba(255,255,255,1);
        vertical-align: text-top;
        height: 16px;
        line-height: 16px;
    }
}
.info_box_height108{
    height: 108px;
} 
.info_box_height66{
    height: 66px;
} 
.info_box_bg1{
    background: #4C7AE3;
}
.info_box_bg2{
    background: #FD8546;
} 
.info_box_bg3{
    background: #5A59B5;
}
.info_box_bg4{
    background: #F7F7FB;
}
.info_box_bg5{
    background: #6A468C;
}
.info_box_bg6{
    background: #9EC3F9;
}
.info_box_bg7{
    background: #F7F7FB;
}

.updatestatus{
    /deep/ .el-dialog__body{
        height: 192px  !important;
    }
    /deep/ .el-dialog{
        height: auto !important;
    }
    /deep/ .el-dialog__body{
        padding: 72px 152px  !important;
    }
}

@high:#F87D7D;
@mind:#F9B640;
@low:#4C7AE3;
@nofind:#15C53D;
.info_box_bg2-high{
    background: @high;
}
.info_box_bg2-mind{
    background: @mind;
}
.info_box_bg2-low{
    background: @low;
}
.info_box_bg2-nofind{
    background: @nofind;;
}
.info_box_bg2-high{
    .circular5{
        width: 110px;
        height: 110px; 
        background: #F16464;
        box-shadow: 0px -2px 2px 0px #E54D4D;
        left: -58px;
        bottom: -57px;
        z-index: 2;
    }
    .circular6{
        width: 92px;
        height: 92px; 
        background: #F16464;
        box-shadow: 0px -2px 2px 0px #E54D4D;
        left:27px;
        bottom:-56px;
        
    }
    .circular7{
        width: 244px;
        height: 244px; 
        background: #F16464; 
        box-shadow: 0px 2px 2px 0px #E54D4D;
        right:-122px;
        top:-122px; 
    }
    .circular8{
        display: inline-block;
        width: 128px;
        height: 128px; 
        background: #F16464;
        box-shadow: 0px 2px 2px 0px #E54D4D;
        top: -64px;
        right:-64px
    }
}
.iconcircular{
        position: absolute;
        border-radius: 50%;
    }
    .circular11{
        width: 90px;
        height: 90px; 
        background:   rgba(255, 255, 255, 0.12);
        box-shadow: 0px -2px 2px 0px #4948A4;
        left: -58px;
        top: 37px;
    }
    .circular12{
        width: 150px;
        height: 150px;  
        background: rgba(255, 255, 255, 0.12);
        box-shadow: 0px 2px 2px 0px #4948A4;
        right: -75px;
        top: -75px;
    }
    .circular14{
        width: 75px;
        height: 75px;  
        background: rgba(255, 255, 255, 0.12);
        box-shadow: 0px 2px 2px 0px #4948A4;
        right: -36px;
        top: -36px;
    }
    .circular13{
        width: 150px;
        height: 150px; 
        background:  rgba(255, 255, 255, 0.12);
        box-shadow: 0px -2px 2px 0px #4948A4;
        bottom: -110px;
        right: 0;
    }
    .info_box_bg2-high{
        .circular5{
            width: 110px;
            height: 110px; 
            background: #F16464;
            box-shadow: 0px -2px 2px 0px #E54D4D;
            left: -58px;
            bottom: -57px;
            z-index: 2;
        }
        .circular6{
            width: 92px;
            height: 92px; 
            background: #F16464;
            box-shadow: 0px -2px 2px 0px #E54D4D;
            left:27px;
            bottom:-56px;
            
        }
        .circular7{
            width: 244px;
            height: 244px; 
            background: #F16464; 
            box-shadow: 0px 2px 2px 0px #E54D4D;
            right:-122px;
            top:-122px; 
        }
        .circular8{
            display: inline-block;
            width: 128px;
            height: 128px; 
            background: #F16464;
            box-shadow: 0px 2px 2px 0px #E54D4D;
            top: -64px;
            right:-64px
        }
    }
    .info_box_bg2-mind{
        .circular5{
            width: 110px;
            height: 110px; 
            background: #F2A011;
            box-shadow: 0px -2px 2px 0px #C37C00;
            left: -58px;
            bottom: -57px;
            z-index: 2;
        }
        .circular6{
            width: 92px;
            height: 92px; 
            background:#F2A011;
             box-shadow: 0px -2px 2px 0px #C37C00;
            left:27px;
            bottom:-56px;
            
        }
        .circular7{
            width: 244px;
            height: 244px; 
            background: #F2A011; 
            box-shadow: 0px 2px 2px 0px #C37C00;
            right:-122px;
            top:-122px; 
        }
        .circular8{
            display: inline-block;
            width: 128px;
            height: 128px; 
            background: #F2A011;
            box-shadow: 0px 2px 2px 0px #C37C00;
            top: -64px;
            right:-64px
        }
    }
    .info_box_bg2-low{
        .circular5{
            width: 110px;
            height: 110px; 
            background:  #3768D6;
            box-shadow: 0px -2px 2px 0px #3157AF;
            left: -58px;
            bottom: -57px;
            z-index: 2;
        }
        .circular6{
            width: 92px;
            height: 92px; 
            background:  #3768D6;
            box-shadow: 0px -2px 2px 0px #3157AF;
            left:27px;
            bottom:-56px;
            
        }
        .circular7{
            width: 244px;
            height: 244px; 
            background:  #3768D6; 
            box-shadow: 0px 2px 2px 0px #3157AF;
            right:-122px;
            top:-122px; 
        }
        .circular8{
            display: inline-block;
            width: 128px;
            height: 128px; 
            background:  #3768D6;
            box-shadow: 0px 2px 2px 0px #3157AF;
            top: -64px;
            right:-64px
        }
    }
    .info_box_bg2-nofind{
        .circular5{
            width: 110px;
            height: 110px;  
            background: #00B529;
            box-shadow: 0px -2px 2px 0px #009421;
            left: -58px;
            bottom: -57px;
            z-index: 2;
        }
        .circular6{
            width: 92px;
            height: 92px;  
            background:  #00B529;
            box-shadow: 0px -2px 2px 0px #009421;
            left:27px;
            bottom:-56px;
            
        }
        .circular7{
            width: 244px;
            height: 244px; 
            background:  #00B529; 
            box-shadow: 0px 2px 2px 0px #009421;
            right:-122px;
            top:-122px; 
        }
        .circular8{
            display: inline-block;
            width: 128px;
            height: 128px; 
            background:  #00B529;
            box-shadow: 0px 2px 2px 0px #009421;
            top: -64px;
            right:-64px
        }
    }
    .part_title {
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: 500;
        border-left: 3px solid #4C7AE3;
        padding-left: 10px;
        height: 14px;
        line-height: 14px;
        color: rgba(72, 72, 102, 0.87);
    }
    .el-tabs__content{
        padding:24px;
    }
    /deep/.el-tabs__header{
        margin:0;
        padding-left:24px;
    }
    .el-table .cell, .el-table th div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{padding-left:32px;}
    /deep/ .el-tabs__item{
        height: 48px;
        line-height: 48px;
        padding: 0 24px;
    }
    /deep/ .el-tabs__item.is-active{
        color: #4C7AE3;
        font-weight: 500;
    }
    /deep/ .el-tabs__nav-wrap{
        padding: 0 24px; 
    }
    /deep/ .el-tabs__nav-wrap::after{
        background: #E8E8F5;
        height: 1px;
    }
    .part1{
        padding: 0 24px;
        padding-bottom: 25px;
    }
    .mt24{margin-top:24px;}
    .bgColor2{
        padding:24px;
        /deep/.el-row{
            margin-left:0!important;
            margin-right: 0!important;
        }
    }
    .outCont{
        background: #F7F7FB;
        overflow: hidden;
        .targetLabeling{
            overflow: hidden;;
            background:#FFF;
            margin:24px;
            padding:16px 0;
            .tagging_block{
                height:56px;
                line-height:56px;
                width:20%;
                float:left;
                .labelName{
                    margin-right:19px;
                    margin-left:12px;
                    color:#484866;
                    font-size:13px;
                }
                .labelColor{
                    display: inline-block;
                    width:12px;
                    height:8px;
                    border-radius:2px;
                    margin-left:24px;
                }
                span{
                    font-size:13px;
                }
            }
        }
    }
    
    /deep/ .el-table td:not(.el-table-column--selection):first-child .cell, 
    /deep/ .el-table th:not(.el-table-column--selection):first-child .cell{
        padding-left: 32px !important;
    }
    .search-box{padding-top:24px;}
    @blue:#4C7AE3;
    @yellow:#F9B640;
    @green:#15C53D;
    @red:#F35F28;
    @purple:#D765D5;
    @waterRed:#F87D7D;
    @paleYellow:#FDC665;
    @total:#D765D5;
    .colorBlue{background:@blue;}
    .colorYellow{background:@yellow;}
    .colorGreen{background:@green;}
    .colorRed{background:@red;}
    .colorPurple{background:@purple;}
    .colorWaterRed{background:@waterRed;}
    .colorPaleYellow{background:@paleYellow;}
    .tag_total{background:@total;margin-left:16px;}

    @loopDeepBlue:#1855DF;
    @loopGreen:#15C53D;
    @loopLightYellow:#FFB700;
    @loopWaterRed:#F35F28;
    @loopLightBlue:#09C1F7;
    @loopOldRed:#F74752;
    @loopOrange:#F87D7D;
    @loopYellow:#F9B640;
    @loopBlue:#4C7AE3;
    .loopDeepBlue{background:@loopDeepBlue;}
    .loopGreen{background:@loopGreen;}
    .loopLightYellow{background:@loopLightYellow;}
    .loopWaterRed{background:@loopWaterRed;}
    .loopLightBlue{background:@loopLightBlue;}
    .loopOldRed{background:@loopOldRed;}
    .loopOrange{background:@loopOrange;}
    .loopYellow{background:@loopYellow;}
    .loopBlue{background:@loopBlue;}

    .tag_high{
        color:#F87D7D !important;
    } 
    .tag_waitting{
        background: rgba(9, 193, 247, 1);
    }
    .tag_fail{
        background: rgba(9, 193, 247, 1);
    }

    .buginfo_box{
        padding: 24px ;
    }
    .bugbasicinfo{
        padding: 24px;
        background: #fff;
        border:1px solid rgba(232,232,245,1);
    }
    .bugotherinfo{
        margin-top: 32px;
        .part_title{
            margin-bottom: 8px;
        }
        .content{
            background:rgba(255,255,255,1);
            border-radius:2px;
            border:1px solid rgba(232,232,245,1);
            padding: 12px 16px;
            color:rgba(72,72,102,0.64);
            font-size: 13px;
        }
    }
    .title_bg{
        width: 84px;
        height: 32px;
        font-size: 13px;
        font-weight: 500;
    }
    .title_bg1{
        background-color: rgba(243, 95, 40, 0.12) !important;
        border: 1px solid rgba(24, 144, 255, 0.08);     
        color: #F35F28 !important;
        border-left:3px solid #F35F28;
       
    }
    .title_bg2{
        background-color: rgba(76, 122, 227, 0.12) !important;
        border: 1px solid rgba(24, 144, 255, 0.08);      
        color: #4C7AE3 !important;
        border-left:3px solid #4C7AE3;
    }
    .message >div{ 
        margin-bottom: 24px; 
        background: #F7F7FB;
        border-radius: 4px;
        border: 1px solid #E8E8F5;
        padding: 16px;
        box-sizing: border-box;
    }
    .requestpack > div{
        background: #fff !important; 
        padding: 0 !important; 
    }
    .packbtn{
        border-top:1px solid #E8E8F5;
        height: 65px;
        box-sizing: border-box;
        padding: 16px;
    }
    .tag_status{
        padding:2px 5px!important;
    }
    .packinput{
        padding: 16px;
        height: 185px;
        box-sizing: border-box;
    }
    .message .title_bg{
        margin-bottom: 8px; 
    }
    .message >label{
        display: inline-block;
        width: 80px;
        text-align: center;
        height: 26px;
        line-height: 26px;
        color: #fff;
        background-color: #4c7ae3;
        font-weight: bold;
        font-size: 12px;
    }
    .message >div{
        height: 253px;
        overflow-y: auto;
    }
    .controlbox{
        margin-top: 16px;
        color: rgba(72, 72, 102, 0.64);
        .cmdresult{
            padding: 16px 0;
            word-wrap: break-word; 
            word-break: normal; 
        }
        
    } 
    /deep/ .el-progress-bar{
        width: 110px !important;
    }