/* 
系统主题样式配置文件
相关页面： home.vue  home.less
*/


:root[theme="light"] {
  --baseColor: #fff;
  --baseFontColor:rgba(72, 72, 102, 0.87); /* 菜单栏文字的样式 */
  --tableBackground:#fff;
  --baseFontColorTh:#5f5f79;
  --indextextColor:#484866a3;
  --tableHoverRow:#f7f7fb;

  --indexbgColor:#fff;
}
:root[theme="dark"] {
  --baseColor: #fff;
  --baseFontColor:#fff;
  --tableBackground:#283046;
  --baseFontColorTh:#5f5f79;
  --indextextColor:#fff;
  --tableHoverRow:#4c7ae3;
  --indexbgColor:#a18d8d;;

}


